#div-header {
    background-image: url(taustakuva.jpeg);
    height: 260px;
    text-align: center;
    }
#div-otsikko {
    font-family: cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    background-color: pink;
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
#div-nav {
    background-color: pink;
    text-align: center;
    height: 50px;
    }
a:link, a:visited {
    background-color: palevioletred;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
a:hover { 
    color: grey; 
    }
#div-section {
    background-color: aliceblue;
    color: black;
    height: auto;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 170px;
    }
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
ol {
    color: black;
    font-size: 15px;
    }
.caption {
    display: block;
    color: palevioletred;
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;

    }
p {
    font-size: 16px;
    color: black;
    } 
div.gallery {
    border: 1px solid #ccc;
    }
      
div.gallery:hover {
    border: 1px solid #777;
    }
      
div.gallery img {
    width: 100%;
    height: auto;
    }
      
div.desc {
    padding: 15px;
    text-align: center;
    }
      
* {
    box-sizing: border-box;
    }
      
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    }
      
@media only screen and (max-width: 700px) {
.responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
    }
      
@media only screen and (max-width: 500px) {
.responsive {
    width: 100%;
    }
    }
      
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }